:root {
  --orange: #ff5600;
  --greenDark: #00cf80;
  --greenLight: #cdfff3;
  --redDark: #ff004d;
  --redLight: #ffd9e6;
}

.App {
  background-color: #eeeae5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chart {
  width: 100%;
}
.chart table {
  width: 100%;
  border-collapse: collapse;
}

.chart table thead {
  background: #f3f3f3;
}

.chart table th,
td {
  padding: 10px;
  text-align: left;
}

.search-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-container .search-input {
  flex-grow: 1;
  background: orange;
}

.search-container button.watchlist {
  margin: 10px;
}